<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
Document Title
=============================================
-->
  <title>Trip Information</title>
  <!--
Favicons
=============================================
-->
  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--
Stylesheets
=============================================

-->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a
            class="navbar-brand" href="index.html">Wanderlust</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Home</a>
              <ul class="dropdown-menu">
                <li><a href="/users">User Login &amp; Registration</a></li>
                <li><a
                href="/airlines">Airline Login</a></li>
                <!-- <li><a href="/Users/taniaroberts/Documents/Galvanize/Projects/travelDash/views/airline_flights.ejs">Flight Information</a></li>
                <li><a href="/Users/taniaroberts/Documents/Galvanize/Projects/travelDash/views/trips.ejs">Trip Information</a></li> -->
              </ul>
    </nav>
    <section class="home-section bg-dark-30" id="home" data-background="/images/background.jpg">
      <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=pOAyoUvTJSg', containment:'.home-section', startAt:1, mute:false, autoPlay:true, loop:true, opacity:2, showControls:false, showYTLogo:false, vol:25}"></div>
      <div class="video-controls-box">
        <div class="container">
          <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
      </div>
      <div class="titan-caption">
        <div class="caption-content">
          <div class="font-alt mb-90 titan-title-size-3">Where Shall We Travel Next?</div>
          <div class="font-alt mb-40 titan-title-size-3">Let's Plan Your Adventure Together!</div>
          <div class="font-serif mb-60 titan-title-size-2">Wanderlust Travel</div>
        </div>
      </div>
      </div>
    </section>
    <h1 class="font-alt mb-90 titan-title-size-3 pr-remove">Welcome back, <%= user.name %></h1>
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
            <h4 class="font-alt">BOOK NEW TRIP:</h4>
            <hr class="divider-w mb-10">
            <form class="form" action="/users/<%= user.id %>/flights" method="post">
              <div class="form-group">
                  <input class="form-control" style="border-radius: 5px;" type="text" name="title" placeholder="TRIP NAME" />
                </div>
                <div class="form-group">
                  <input class="form-control" style="border-radius: 5px;" type="text" name="description" placeholder="DESCRIPTION" />
                </div>
                <select class="input-lg mb-10" style="border-radius: 5px;" name="flight_id">
                  <% for (let i = 0; i < flights.length; i++) { %>
                    <option value="<%= flights[i].id %>">
                      START: <%= flights[i].start %> - DESTINATION: <%= flights[i].destination %> - AIRLINE: <%= flights[i].name %></option>
                  <% } %>
                </select>
                <div class="form-group">
                <!-- <button class="btn btn-round btn-b">Login</button> -->
                <input type="submit" class="btn btn-round btn-b" value="BOOK YOUR ADVENTURE!">
              </div>
            </form>
          </div>
          <div class="col-sm-5">
            <h4 class="font-alt"><%= message %></h4>
            <hr class="divider-w mb-10">
            <form class="form" action="/users/register" method="post">
              <div>
                <% for(var i = 0; i < trips.length; i++){ %>
                <div class="mb-10" style="font-family: Roboto Condensed, sans-serif; border: 1px solid #EAEAEA; border-radius: 5px; padding: 5px; font-size: 15px;">
                  <p><b>TRIP NAME: </b><%= trips[i].title%></p>
                  <p><b>DESCRIPTION: </b> <%= trips[i].description%></p>
                  <p><b>FROM: </b> <%= trips[i].start%> - <b>TO: </b> <%= trips[i].destination%> - <b>AIRLINE: </b>  <%= trips[i].name%> </p>
                </div>
              <% } %>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="widget">
              <h5 class="widget-title font-serif">About Us</h5>
              <p>Let us help you plan your next adventure!</p>
              <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
              <p>Email:<a href="#">wanderlust@journeys.com</a></p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="widget">
              <h5 class="widget-title font-serif">Recent Comments</h5>
              <ul class="icon-list">
                <li>Barbara on <a href="#">Travel Essentials</a></li>
                <li>Tania on <a href="#">Top 10 Exotic Locations</a></li>
                <li>Sarah on <a href="#"></a>Past Resort Trips</li>
                <li>Nina on <a href="#">Free Getaway to Greece</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="widget">
              <h5 class="widget-title font-serif">Blog Categories</h5>
              <ul class="icon-list">
                <li><a href="#">Daily Life of a Nomad - 7</a></li>
                <li><a href="#">Travel Advice- 3</a></li>
                <li><a href="#">Best Resort Locations - 12</a></li>
                <li><a href="#">Travel Photos Worldwide- 1</a></li>
                <li><a href="#">Travel and Work - 16</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="widget">
              <h5 class="widget-title font-serif">Popular Posts</h5>
              <ul class="widget-posts">
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="#"><img src="/images/rp-1.jpg" alt="Post Thumbnail"/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="#">Wanderlust Essentials</a></div>
                    <div class="widget-posts-meta">23 January</div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="widget-posts-image"><a href="#"><img src="/images/rp-2.jpg" alt="Post Thumbnail"/></a></div>
                  <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="#">Journey of a Lifetime</a></div>
                    <div class="widget-posts-meta">15 February</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="divider-d">
    <footer class="footer bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright font-serif">&copy; 2017&nbsp;<a href="index.html">Wanderlust</a>, All Rights Reserved</p>
          </div>
          <div class="col-sm-6">
            <div class="footer-social-links"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a><a href="http://fontawesome.io/icon/dribbble/"><i class="fa fa-dribbble"></i></a><a href="https://www.skype.com/en/"><i class="fa fa-skype"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
  </main>
  <!--
JavaScripts
=============================================
-->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/wow/dist/wow.js"></script>
  <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="/lib/flexslider/jquery.flexslider.js"></script>
  <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="/lib/smoothscroll.js"></script>
  <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
